@import "./base.css";

#app {
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: darkorange; 
}